@charset "utf-8";

body{
    background-color: #2e889a;

}

h1{
    color: white;
    font-family: ArialRoundedMTBold;
    font-size: 700%;
    width: 100%;
    text-align: center;
}
h3{
    color: white;
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 160%;
    width: 100%;
    text-align: center;
}

p{
    border-style: ridge;
    border-radius: 8px;
    padding: 2px;
    box-sizing: inherit;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 140%;
    width: 100%;
    text-align: center;
}

@font-face{
    font-family: ArialRoundedMTBold;
    src: url(ARLRDBD.ttf);
}

[class*="col-"]{
    width: 100%;
}

@media only screen and (min-width: 768px){
    /* För desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
  